@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Silkscreen&display=swap');
/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Silkscreen', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    background-color: rgb(247, 247, 247);
}
header{
    width: 100%;
    font-family:'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15vh;
}
.welcomeBanner{
    background-image: url("../assets/bannerBackground.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
h1{
    font-size: 4.0rem;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    color:antiquewhite;
}
/*----barra de navegacion-----*/
nav{
    align-self: center;
}
.navBar{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-top: 5px;
}
.navBar li a{
    text-decoration: none;
    color: black;
}
.navBar li a:hover{
    color: rgba(255, 0, 128, 0.394);
}
/*------fin barra de navegacion------*/

/*-------main--------*/

.text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
}

h2{
    font-family: 'Silkscreen';
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
}

h3{
    font-family: 'Silkscreen';
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    color:antiquewhite;
}

/*------bio--------*/

/*mejorar visibilidad texto*/
.bioMain{
    justify-self: center;
    align-self: center;
    display: inline-block;
    background-image: url(../assets/bandBio3.jpeg);
    background-size: 100%;
    opacity: 0.95;
    background-position: center;
    background-attachment:scroll;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.textBio{
    font-family: 'Noto Sans';
    font-size: 2.0rem;
    color:rgba(33, 32, 32, 0.954);
    text-shadow: rgb(0, 0, 0);
    font-weight:bold;
}
.textBio2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.0rem;
    justify-self: center;
    align-self: center;
    display: inline-block;
}

.bandBioPics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    text-decoration: none;
}

.daveB{
    justify-self:center;
    font-family: 'Noto Sans';
    align-self:flex-end;
    display: inline;
    text-decoration: none;
    background-image: url(../assets/BioDave.jpeg);
    background-repeat: no-repeat;
    background-position: fixed;
    height: 35vh;
    width: 100%;
    
}
.drewM{
    justify-self: center;
    font-family: 'Noto Sans';
    align-self:flex-end;
    display: inline;
    text-decoration: none;
    background-image: url(../assets/BioDrew.jpeg);
    background-repeat: no-repeat;
    background-position: fixed;
    height: 35vh;
    width: 100%;
}
.edmundI{
    justify-self: center;
    font-family: 'Noto Sans';
    align-self:flex-end;
    display: inline;
    text-decoration: none;
    background-image: url(../assets/BioEdmund.jpeg);
    background-repeat: no-repeat;
    background-position: fixed;
    height: 35vh;
    width: 100%;
}
.joeS{
    justify-self: center;
    font-family: 'Noto Sans';
    align-self:flex-end;
    display: inline;
    text-decoration: none;
    background-image: url(../assets/BioJoe.jpeg);
    background-repeat: no-repeat;
    background-position: fixed;
    height: 35vh;
    width: 100%;
}
.albums{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
}
.album1{
    background-image: url(../assets/zaba.jpeg); 
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    object-fit: contain ;
}
.album2{
    background-image: url(../assets/htbhb.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    object-fit: contain ;
}
.album3{
    background-image: url(../assets/dreamland.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100%;
    object-fit: contain ;
}

/*-----fin bio------*/

.mainHome {
    height: 100vh;
}

.tourDates{
    /*background-image: url("../assets/tourDates.webp");
    background-size: 500px;
    background-repeat: no-repeat;*/
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
    background-position: center;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    background-attachment:scroll;
}
@media (max-width: 576px) {
    .tourDates{
        display: grid;
        grid-template-columns: 1,1fr;
        grid-template-rows: 1,1fr;
        box-sizing: content-box;
        position: center;
    }
}
@media (max-width: 768px) {
    .store{
        display: grid;
        grid-template-columns: 2,1fr;
        grid-template-rows: 2,1fr;
        box-sizing: content-box;
        position: center;
    }
}

.date1{
    background-image: url("../assets/France.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date2{
    background-image: url("../assets/London.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date3{
    background-image: url("../assets/BuenosAires.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date4{
    background-image: url("../assets/Mendoza.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date5{
    background-image: url("../assets/Madrid.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date6{
    background-image: url("../assets/Newzealand.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date7{
    background-image: url("../assets/SouthAfrica.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.date8{
    background-image: url("../assets/Washington.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: nowrap;
    height:100%;
    width:100%;
}
.mediaVideo{
    position: left;
}

.mediaSpotify{
    position: right;
}

.storeItems{
    display:grid;
    list-style: none;
    text-decoration:none;
}

/*------Subscribe--------*/

.mailingList{
    font-family: 'Noto Sans' ;
    font-weight: bold;
    font-size: 1.3rem;
}

.subInfo{
    height: 100%;
    background-color:antiquewhite;
}


/*------Fin Subscribe--------*/

/*------Store--------*/

.store{
    display: grid;
    grid-template-columns: 4,1fr;
    grid-template-rows: 2,1fr;
    box-sizing: content-box;
    position: center;
}
@media (max-width: 576px) {
    .store{
        display: grid;
        grid-template-columns: 1,1fr;
        grid-template-rows: 1,1fr;
        box-sizing: content-box;
        position: center;
    }
}
@media (max-width: 768px) {
    .store{
        display: grid;
        grid-template-columns: 2,1fr;
        grid-template-rows: 2,1fr;
        box-sizing: content-box;
        position: center;
    }
}
.storeItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: center;
}

.hoodie{
    height: 35vh;
    width: 35vh;

}
.vinyl{
    height: 35vh;
    width: 35vh;
}
.cd{
    height: 35vh;
    width: 35vh;
}
.vhs{   
    height: 35vh;
    width: 35vh;
}

/*------Fin Store--------*/

/*------fin mains------*/


/*-------footer------*/
.footer{
    background-image: url("../assets/bannerBackground.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-position: center;
    left: 0;
    bottom: 0;
    position: bottom;
    height: 10%;
    margin-top: 15px;
    display: inline-block;
}
.socialAndMedia{
    height: 15%;
    display: inline-block;
    grid-column: 3/4;
    justify-self: right;
}
.networks{
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:right;
    gap: 20px;
}
.iconStyle{
    height:40px;
    margin-left:20px;
    margin-top:5px;
}

/*-----fin footer------*/